.button{
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: .5px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  transition: all ease-in-out .2s;
  &:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  &__google{
    background-color: #4285f4;
    color: #fff;
    &:hover{
      background-color: #357ae8;
      border: 1px solid transparent;
    }
  }
  &__inverted{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    &:hover{
      background-color: #000;
      color: #fff;
      border: 1px solid transparent;
    }
  }
}
